*{
	background-color: #e5e5e5;
}

h1{
	color: indigo;
	margin: 1.5rem;
	border: solid 1px lightcoral;
}

.eachPokemon{
	display: inline-block;
	text-align: center;
}

.eachPokemon img{
	display: block;
}